body {

    font-family: sans-serif;
    margin: auto;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;

}

.resume {
    font-family: sans-serif;
    padding: 20px;
    margin: auto;
    width: 70%;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    margin-bottom: 23px;
}




.colorbar {
    height: 12px;
    border-radius: 40px;
    background-image: linear-gradient(to right, #4776E6, #8E54E9, #ff3908, #FFC837);
}

a:hover {
    color: #FF8008;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

#intro {
    text-align: center;
    font-size: 16px;
}

img {
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


#projects {
    margin-top: 40px;
    text-decoration: underline;
    font-size: 18px;


}

#me {
    text-align: center;
    font-size: 16px;
}
#skills {
    margin-top: 30px;
    text-decoration: underline;
    font-size: 18px;

}

#education {
    margin-top: 40px;
    margin-bottom: -10px;
    text-decoration: underline;
    font-size: 18px;

}

footer {
    height: 20px;
}



a {
    text-decoration: none;
    color: rgb(66, 247, 0);
    font-size: 16px;
}

a:visited {
    text-decoration: none;
}

p {
    font-family: 'Roboto Mono', monospace;
}

ul {
    font-family: 'Roboto Mono', monospace;
}

#funfact {
    text-decoration: underline;
    font-size: 18px;
}

#desc {
    font-size: 22px;
}

#location {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

/*----------------------------- square -----------------------------*/


/*----------------------------- hire me -----------------------------*/

.hire {
    font-family: sans-serif;
    margin: auto;
    background-color: #FFC837;
    color: rgb(26, 26, 26);
    padding: 10px;
    font-size: 17px;
}

h2 {
    font-size: 29px;
}

#hireintro {
    margin: auto;
    width: 70%;
    padding: 10px;
    
}

#rates {
    margin: auto;
    width: 70%;
    margin-bottom: 40px;
}

#underline {
    text-decoration: underline;
}

.removedec {
    list-style-type: none;
    justify-content: center;
}

.yellowemail {
    color: black;
}

.yellowemail:hover {
    color: #2263fa;
}

.bold {
    font-weight: bold;

}

.italic {
    font-style: italic;
}